
/*  LAYOUT STYLESHEET.
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/



/*  General settings.
------------------------------------------------------------------------*/
    * {
      margin: 0;
      padding: 0;
    }

    html {
      background-color: #EEE;
      font: 16px/1.5em Arial, Verdana, Helvetica, sans-serif;
    }
    body {
      background-color: #FFF;
      border: 1px solid #DDD;
      margin: 40px auto 20px auto;
      padding: 30px;
      width: 720px;
    }

    h1, h2 {
      font-weight: normal;
      margin-bottom: 1em;
    }
    h1 {
      font-size: 1.4em;
      font-weight: normal;
    }
    h2 {
      font-size: 1em;
      border-bottom: 1px solid #CCC;
      padding-top: 5px;
    }
    p {
      color: #555;
      font-size: .8em;
      margin-bottom: 14px;
    }