%h1 This is a <strong>Blank</strong> application...
%p
  <em>Sinatra-Blank</em> is a Sinatra package actually including Haml & Coffee-Scripts. Spend less time in configuring & creating your Sinatra application, just clone me :)