%h1 This <strong>Sinatra</strong> package contain :

%h2 Easy understand <strong>MVC</strong> architecture.
%p Controllers, helpers, models et views are separated for easy & clever app managing.

%h2 A solid Template manager : <strong>Haml</strong>.
%p Not necessary to spend time in developing Html... Haml offer to you an easy & useful way to generate Html.

%h2 A Ruby-Like Javascript development : <strong>Coffee-Script</strong>.
%p Javascript become a pleasure by the Coffee-Script light & clear syntax. By using it, you'll write Javascript as easily than you create Ruby-code.